/* Estilos para el cuerpo del documento */
body {
    color: #00F; /* Color del texto */
    background-color: #CFC; /* Color de fondo */
    font-family: Georgia, Cambria, serif; /* Fuentes serifadas */
    font-size: 16px; /* Tama単o de fuente */
}

/* Estilos para los encabezados de nivel 1 */
h1 {
    color: #F00; /* Color del texto en rojo */
    font-family: Verdana, Calibri, sans-serif; /* Fuentes sans-serif */
    font-size: 32px; /* Tama単o de fuente*/
}

/* Estilos para los encabezados de nivel 2 */
h2 {
    color: #A00; /* Color del texto*/
    font-family: Verdana, Calibri, sans-serif; /* Fuentes sans-serif */
    font-size: 24px; /* Tama単o de fuente*/
}

/* Estilos para los elementos span */
span {
    color: #060; /* Color del texto*/
}

/* Estilos para los elementos texto en negrita */
strong {
    font-size: 20px; /* Tama単o de fuente */
}

/* Estilos para los elementos em */
em {
    color: #FFF; /* Color del texto */
    background-color: #000; /* Color de fondo */
}
